startup --batch_cpu_scheduling
build --crosstool_top=//tools/cpp:toolchain --spawn_strategy=standalone --genrule_strategy=standalone --nobuild_runfile_links
test --spawn_strategy=standalone --genrule_strategy=standalone --nobuild_runfile_links
